.button{
    -fx-background-color: #7A1618;
    -fx-font: bold 16px "Arial";
    -fx-text-fill: #ffffff;
}

.button:pressed{
    -fx-background-color: #171717;
    -fx-text-fill: #7A1618;
}
.button:released{
    -fx-text-fill: #ffffff;
    -fx-background-color: #7A1618;
}

